


.clickable:hover {
    box-shadow: inset 0 0 1px 1px black;
    background-color: red;
    cursor: pointer;
}

.firstCol {
    position: relative;
    width: 12em;

} 

td, th {
    width: 20em;
}

table {
    border-collapse: separate;
    border-spacing: 2px;
}