{% extends "../baseheader.html" %}
{% block header %}
    <header id="header">
            <h1>EWS</h1>
    </header>
{% endblock header %}

{% block nav %}
    <nav id="navbar">
        <div class="container">
            <p> PH </p>
        </div>
    </nav>
{% endblock nav %}


{% block page %}
<section id="page">
    <div class="container">
        <h1> Main Page</h1>
        <form action="" method="post"> {% csrf_token %}   
            {{filter}}
        </form>
        <table>
            <thead>
                {% for form in ewstable.forms %}
                    {% if forloop.first %}
                        {% for field in form %}
                            <th>{{ field.label_tag }}</th>
                        {% endfor %}
                    {% endif %}
            </thead>
            <tbody>
                    <tr>
                        {% for field in form %}
                            <td>{{ field }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock page %}

{% block aside %}
<aside id="sidebar">
    <div class="container">
        <p>side content</p>
    </div>
</aside>
{% endblock aside %}

{% block footer %}
    <footer id="footer">
        <div class="container">
            <p>NTI Sundbyberg</p>
        </div>
    </footer>
{% endblock footer %}