
.course-table {
    font-family: Helvetica;
    border-collapse: collapse;
    width: 100%;
}
.course-table-row {
    
}
.course-table-header, .course-table-cell {

}

.course-table-cell {
    cursor: pointer;
    transition: all 100ms ease-in-out;
    outline: 0px solid pink;
}
.course-table-cell:hover {
    outline: 2px solid pink;

}