<!DOCTYPE = html>
<html lang="en">

<head>
    <title>NTI</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'teachtech/styles/response.css' %}" crossorigin="anonymous">
    
    <script src="{% static 'teachtech/navhandler.js' %}"></script>
    <script src="{% static 'teachtech/classview.js' %}"></script>
    <script src="{% static 'teachtech/skeletons.js' %}"></script>

    <!-- BOOTSTRAP -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    {% block head %}
    {% endblock head %}

    <title>Tools</title>
</head>

<body class="container">
    <header class="row jumbotron">

        <div id="header" class="col-10 ">
            {% block header %}
            {% endblock header %}
        </div>
        <div id="auth-box" class="col-2">
            <h3>Google Login</h3>
            <button id="authorize_button" style="display: none;">Logga in</button>
            <button id="signout_button" style="display: none;">Logga ut</button>
        </div>

    </header>

    <nav class="navbar justify-content-center sticky-top col-8">
        <div class="nav-item nav-link clickable" onclick="loadHome()">Hem</div>
        <div class="nav-item nav-link clickable" onclick="displayCourses()">Kursöversikt</div>
        <div class="nav-item nav-link clickable disabled">EHT</div>
        {% block nav %}
        {% endblock nav %}
        
    </nav>

    <div class="row">
        <section id="page" class="col-10">
            {% block page %}
            {% endblock page %}
        </section>
        <aside id="side" class="col-2">
            {% block aside %}
            {% endblock aside %}
        </aside>
    </div>
    <footer>
        <div id="nav" class="container">
            {% block footer %}
            {% endblock footer %}
        </div>
    </footer>
</body>
    {% load static %}
    <script src="https://apis.google.com/js/api.js"></script>
    <script src="{% static 'teachtech/gapiAuth.js' %}"></script>

    {% block script %}
    {% endblock script %}
</html>

